<mat-card>
  <mat-card-title>
    Which Guitar God are You?
  </mat-card-title>
  <label>
    <p>Enter first name:</p>
    <input type="text" [(ngModel)]='firstName'>
  </label>
  &nbsp;
  <button (click)='createGod()'
          mat-raised-button
          color='primary'
  >
    Become a God!
  </button><br><br>
  <div [ngSwitch]="displayGod">
    <div *ngSwitchCase="'white'">
    </div>
    <div *ngSwitchCase="'red'">
      <img src="assets/stevieRayVaughn.png">
      <h3>You are Stevie Ray Vaughn... You are a God!!!</h3>
    </div>
    <div *ngSwitchCase="'orange'">
      <img src="assets/jimiHendrix.png">
      <h3>You are Jimi Hendrix... You are a God!!!</h3>
    </div>
    <div *ngSwitchCase="'yellow'">
      <img src="assets/nancyWilson.png">
      <h3>You are Nancy Wilson... You are a God!!!</h3>
    </div>
    <div *ngSwitchCase="'green'">
      <img src="assets/jimmyPage.png">
      <h3>You are Jimmy Page... You are a God!!!</h3>
    </div>
  </div>
</mat-card>

