<mat-card>
    <mat-card-title>
        Available Pizza Toppings
    </mat-card-title>
      
    <mat-card-content>
        <p
            *ngFor='let topping of pizzaToppings'
        >
            <label>
                <input 
                    type="checkbox" 
                    [(ngModel)]='topping.checked'
                >
                {{ topping. name }} ({{ topping.price | currency }})
            </label>
        </p>

        <button
            (click)='calculateTotal()'
        >
            Calculate Total
        </button>

        <h3>
            Total: {{ total | currency }}
        </h3>
    </mat-card-content>
</mat-card>