<mat-card>
    <mat-card-title>
        Avaliable Pizza Toppings
    </mat-card-title>
    <mat-card-content>
            <p
            *ngFor='let topping of pizzaToppings'
            >
            <label>
                <mat-checkbox
                    [(ngModel)]='topping.checked'
                >
                    {{ topping. name }} ({{ topping.price | currency }})
                </mat-checkbox>
            </label>
        </p>

        <button
            (click)='calculateTotal()'
            mat-raised-button
            color='primary'
        >
            Calculate Total
        </button>

        <h3>
            Total: {{ total | currency }}
        </h3>
    </mat-card-content>
</mat-card>